
<p class="message" id="message">
  <%=@message%>
  <i id="close-message" class="fa fa-times" aria-hidden="true" onclick="closeMessage()"></i>
</p>

<div class="center">

  <h1 class="transaction-title">Cash Income Input</h1>



    <div class="transaction-submit-container">
      <input type="submit" name="commit" value="Save" id="entry-signup-button" class="income-submit-button"></input>
    </div>

    <br></br>

  <% end %>

</div>
