<p><%=@message%></p>
<center><h1 id="income-history">Income History</h1></center>

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Submission Date</th>
      <th>Amount</th>
      <th>Source</th>
    </tr>
  </thead>

  <tbody>
      <% @incomes_sorted.each do |user| %>
        <tr>
          <td><center><%= user.created_at %></center></td>
          <td><center>$ <%= "%.2f" % user.income_amount %></center></td>
          <td><center><%= user.source %></center></td>
        </tr>
      <% end %>
  </tbody>
</table>
</div>
