<h1>Maps</h1>

<div id="googleMap" style="width:95%;height:700px;"></div>

<script>
    function myMap() {
        var mapProp= {
            center:new google.maps.LatLng(49.246254,-123.013861),
            zoom:11,
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ3wyaZIOpGodrpSDMQ5WGLDLTNgHibcI&callback=myMap"></script>
