<!--<h1><%= "Hi #{@name}! Welcome to the home page" %></h1> -->

<!-- drag code
<div class="element-container" ondrop="drop(event)" ondragover="allowDrop(event)">
  <div id="element1" draggable="true" ondragstart="drag(event)">
    Element 1 <br>

    Make me resizeable by user!
  </div>
</div>

<div class="element-container" ondrop="drop(event)" ondragover="allowDrop(event)">
  <div id="element2" draggable="true" ondragstart="drag(event)">
    Element 2 <br>

    Make me resizeable by user!
  </div>
</div>
-->
<p class="message" id="message">
  <%=@message%>
  <i id="close-message" class="fa fa-times" aria-hidden="true" onclick="closeMessage()"></i>
</p>

<div class="element-container" id="account_balance">
  <div id="element1">
    <p class="home-headers">Account Balance</p>
    <div class="balance-container">
      <p id="home-account-balance"> <%=number_to_currency(@account_balance)%><!--<span id="balance-js"><%=@account_balance%></span>--></p>
    </div>
    <button id="balance-edit">Edit</button>
    <!--hide this until the user specifies that they want to edit -->
  </div>
</div>

<div class="element-container" id="goals">
  <div id="element2">
    <p class="home-headers">Goals</p>
  </div>
</div>

<div class="element-container" id="last_records">
  <div id="element3">
    <p class="home-headers">Recent Spendings</p>
  </div>
</div>

<div class="element-container" id="planned_payments">
  <div id="element4">
    <p class="home-headers">Planned Payments</p>
  </div>
</div>
