<!--
<h1><%= session[:user_id] %></h1>

<%= link_to("Logout", {controller: "access", action:"logout"}) %>
-->

<p style="font-family:Helvetica; font-size:20px"> Hi User! Welcome to the home page! </p>
