<h1><%= "Hi #{@name}! Welcome to the home page" %></h1>


<div class="element-container"
  <div id="element1">
    Element 1 <br>

    Make me resizeable by user!
  </div>
<div class="element-container"
  <div id="element2">
    Element 2 <br>

    Make me resizeable by user!
  </div>
</div>
