<!--<h1><%= "Hi #{@name}! Welcome to the home page" %></h1> -->

<!-- drag code
<div class="element-container" ondrop="drop(event)" ondragover="allowDrop(event)">
  <div id="element1" draggable="true" ondragstart="drag(event)">
    Element 1 <br>

    Make me resizeable by user!
  </div>
</div>

<div class="element-container" ondrop="drop(event)" ondragover="allowDrop(event)">
  <div id="element2" draggable="true" ondragstart="drag(event)">
    Element 2 <br>

    Make me resizeable by user!
  </div>
</div>
-->

<div class="element-container" id="account_balance">
  <div id="element1">
    <center>Account Balance</center>
  </div>
</div>

<div class="element-container" id="goals">
  <div id="element2">
    <center>Goals</center>
  </div>
</div>

<div class="element-container" id="last_records">
  <div id="element3">
    <center>Recent Spendings</center>
  </div>
</div>

<div class="element-container" id="planned_payments">
  <div id="element4">
    <center>Planned Payments</center>
  </div>
</div>
