// Place all the styles related to the account_balance controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.center {
  margin: 5%;
  width: 90%;
  background-color: transparent;
  text-align: center;
}

h1.account-balance-title {

  font-family: Helvetica;
  font-size: 40px;
  text-align: center;
  color: #95a5a6;
  display: inline-block;
  line-height: 40px; //added
  margin:auto;
}

div.balance-container {
  height: 60%;
  width: 100%;
  background-color: transparent;
  //margin-top: 20%;
  //margin-bottom: 20%;
  position: relative;
  top: 20%;
  vertical-align:middle;
}

p#home-account-balance {
  margin: 20px;
  font-size: 35px;
  display: inline;
  bottom: 5%;
  //position: absolute;
  position:inherit;
  //background-color: pink;
  line-height: 35px;
}

div.description-container {
  width: 100%;
  height: 100px;
  position: relative;
  text-align: center;
}

p.account-balance-description {
  //background-color: green;
  margin: auto;
  padding-bottom: 10px;
  display: inline;
  position: auto;
  text-align: left;
}

@media screen and (max-width: 360px) {
  div.center {
    text-align: left;
    background-color: transparent;
  }

  h1.account-balance-title {
    margin-left: 20px;
    float: left;
    text-align: left;
  }

  div.description-container {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }

  // p.account-balance-description {
  //   margin-left: 20px;
  // }
}
