

button#link-button {
  margin: 2.5%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
}

input#update-bank-transactions {
  //margin: 2.5%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
}


h1.bank-sync-title {

  font-family: Helvetica;
  font-size: 40px;
  text-align: center;
  color: #95a5a6;
  display: block;
  line-height: 40px; //added
  margin: 2.5%;
}

h1.total-account-balance {
  line-height: 25px;
}


li.bank-accounts-li {
  position: relative;
  display: block;
  width: 95%;
  height: 100px;
  margin: 2.5%;
  //background-color: #98e7f2;
  background-color: #39bf75;
  //resize: vertical;
  //overflow: auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

ul#bank-accounts {
  padding-left: 0;
  position: relative;
  width: 100%;
  text-align: center;
}

div.bank-account-container {
    font-size: 34px;
    display: inline-block;
    text-align: center;
    //background-color: red;
    line-height: 34px;
    padding-top: 33px;
    padding-bottom: 33px;
}

a.item {
  text-decoration: none !important;
}

table.show-account-details {
  border: none;
  padding: 5%;
  margin: 5%;
}

td.show-account-details {
  text-align: left;
  font-family: Helvetica;
  font-size: 26px;
  //width: 100%;
  //margin-bottom: 20px;
  color: #7f8c8d;
  //margin-left: 5%;
  line-height: 25px;
}

tr.show-account-details {
  border-bottom-style: solid;
  border-bottom-style: black;
  padding-bottom: 10px;
}

//COPIED FROM ACCOUNTS.CSS

div.banksync-center {
  margin: auto;
  width: 800px;
  background-color: #FFFFFF;
}

h1.account-header {
  text-align: center;
  line-height: 25px;
}

.green {
  background-color: #27ae60;
  color: white;
}

.red {
  background-color: #e74c3c;
  color: white;
}

#account-message {
  background-color: #27ae60;
  color: #FFFFFF;
  position: absolute;
  width: 100%;
}

div.account-info {
  text-align: left;
  font-family: Helvetica;
  font-size: 26px;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  color: #7f8c8d;
  margin-left: 5%;
  line-height: 25px;
  display: block;
}

span.account-info {
  float:right;
  display: inline-block;
  font-family: Helvetica;
  font-size: 26px;
  //width: 100%;
  //float: left;
  //margin-bottom: 20px;
  color: #7f8c8d;
  //margin-left: 5%;
  line-height: 25px;
  margin-right: 10%;
}

a.account-edit-button, a.account-password-button {
  font-family: Helvetica;
  font-size: 18px;
  color: #FFFFFF;
  text-decoration: none;
  width: 100%;
  line-height: 35px;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

}

a.account-edit-button {
  background-color: #3498db;
}

a.account-edit-button:hover {
  background-color: #2980b9;
}

a.account-password-button {
  background-color: #2ecc71;

}

a.account-password-button:hover {
  background-color: #27ae60;
}

a.account-edit-button:visited, a.account-edit-button:active, a.account-password-button:visited, a.account-password-button:active {
  color: #FFFFFF;
}

.button:hover, .link-heading:hover {
  background-color: #4386FA;
  color: #FFFFFF;
}

input.account-password-button {
  font-family: Helvetica;
  font-size: 18px;
  width: 100%;
  height: 50px;
  border: 0;
  background-color: #3598DC;
  color: #FFFFFF;
}

@media screen and (max-width: 800px) {
  div.banksync-center {
    margin: auto;
    width: 100%;
    background-color: #FFFFFF;
  }
}

@media screen and (max-width: 500px) {

}
