

button#link-button {
  margin: 2.5%;
}


// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li.bank-accounts-li {
  position: relative;
  display: block;
  width: 95%;
  height: 100px;
  margin: 2.5%;
  background-color: #98e7f2;
  //resize: vertical;
  //overflow: auto;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

ul#bank-accounts {
  padding-left: 0;
  position: relative;
  width: 100%;
  text-align: center;
}

div.bank-account-container {
    font-size: 34px;
    display: inline-block;
    text-align: center;
    //background-color: red;
    line-height: 34px;
    padding-top: 33px;
    padding-bottom: 33px;
}
