// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.element-container {
  position: relative;
  display: block;
  width: 95%;
  height: 50%;
  margin: 2.5%;
  background-color: pink;
  resize: both;
  overflow:auto;
}

div#element1 {
  width: 200px;
  height: 200px;
  background-color: green;
}

div#element2 {
  width: 200px;
  height: 200px;
  background-color: purple;
}
