<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Activate Bank Sync</h1>
  <button id="link-button">Link Account</button>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script type="text/javascript">
  (function($) {
      var plaid_public_key = "<%= Rails.application.secrets.plaid_public_key %>";
      var handler = Plaid.create({
      clientName: 'Plaid Walkthrough Demo',
      env: 'sandbox',
      // Replace with your public_key from the Dashboard
      key: plaid_public_key,
      //key: "596188d345ee7774752317766e108c",
      product: ['transactions'],
      // Optional, use webhooks to get transaction and error updates
      webhook: 'https://requestb.in',
      onLoad: function() {
        // Optional, called when Link loads
      },
      onSuccess: function(public_token, metadata) {
        // A function that is called when a user has successfully onboarded an Item.
        // The function should expect two arguments, the public_token and a metadata object.

        // exchange public token for access token
        // create a new item with access token and link it to the current user's id



        // Send the public_token to your app server.
        // The metadata object contains info about the institution the
        // user selected and the account ID, if the Account Select view
        // is enabled.

        var token = $.post('/get_access_token', {
          public_token: public_token,
        });

        console.log("added item"); //successfully added item
        console.log("public_token = "); //public_token generated
        console.log(public_token);
        console.log("token = ");
        console.log(token);
      },
      onExit: function(err, metadata) {
        // Optional
        // A function that is called when a user has specifically exited the Link flow.
        // The function should expect two arguments, a nullable error object and a metadata object.

        // The user exited the Link flow.
        if (err != null) {
          // The user encountered a Plaid API error prior to exiting.
        }
        // metadata contains information about the institution
        // that the user selected and the most recent API request IDs.
        // Storing this information can be helpful for support.
        console.log("exited plaid link");
      },
      onEvent: function(eventName, metadata) {
        // Optional
        // A function that is called when a user reaches certain points in the Link flow.
        // The function should expect two arguments, an eventName string and a metadata object.

        // Optionally capture Link flow events, streamed through
        // this callback as your users connect an Item to Plaid.
        // For example:
        // eventName = "TRANSITION_VIEW"
        // metadata  = {
        //   link_session_id: "123-abc",
        //   mfa_type:        "questions",
        //   timestamp:       "2017-09-14T14:42:19.350Z",
        //   view_name:       "MFA",
        // }
      }
    });

    $('#link-button').on('click', function(e) {
      handler.open();
    });
  })(jQuery);
  </script>
  </body>
