<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Savor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--allows the nav bar to display properly on mobile devices -->
  </head>

  <header>
    <nav class ="side-navigation" role='navigation' id="mySideNav">
      <ul>
        <li><a onclick="linkDelay('/home/index')">Home</a></li> <!--add icons next to links later -->
        <!--<li><a onclick="linkDelay('/input/new')">Input</a></li>-->
        <li><a onclick="showSubpages('cash-transaction', 'cash-income')">Input</a></li>
          <li class="subpage-button" id="cash-transaction"><a onclick= "linkDelay('/input/new')">Cash Transaction</a></li>
          <li class="subpage-button" id="cash-income"><a onclick= "linkDelay('/input/income')">Cash Income</a><li>
        <li><a onclick="showSubpages('transactions', 'income')">History</a></li>
          <li class="subpage-button" id="transactions"><a onclick= "linkDelay('/history/index')">Transactions</a></li>
          <li class="subpage-button" id="income"><a onclick= "linkDelay('/history/income')">Income</a></li>
        <li><a onclick="linkDelay('/charts')">Charts</a></li>
        <li><a onclick="linkDelay('/maps/index')">Maps</a></li>
        <li><a onclick="showSubpages('show-account-info', 'edit-account-info', 'change-password')">Account</a></li>
          <li class="subpage-button" id="show-account-info"><a onclick= "linkDelay('/account/index')">Show Account Details</a></li>
          <li class="subpage-button" id="edit-account-info"><a onclick= "linkDelay('/account/edit')">Edit Account Details</a></li>
          <li class="subpage-button" id="change-password"><a onclick= "linkDelay('/account/change_password')">Change Password</a><li>
        <li><a onclick="linkDelay('/account_balance/index')">Balances</a></li>
        <li><a onclick="linkDelay('/bank_sync/index')">Bank Sync</a></li>
        <!-- <li><a onclick="showSubpages('new-institution', 'linked-institutions')">Bank Sync</a></li>
          <li class="subpage-button" id="new-institution"><a onclick= "linkDelay('/bank_sync/add_account')">Link New Institution</a></li>
          <li class="subpage-button" id="linked-institutions"><a onclick= "linkDelay('/bank_sync/index')">Linked Institutions</a></li> -->
        <li><a onclick="linkDelay('/access/logout')">Sign Out</a></li>
      </ul>
    </nav>
  </header>


  <body>
    <div class="topnav" id="myTopnav">
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
        <!--<a href="/home/index">Home</a> <!--add icons next to links later, using font-awesome -->
        <a href="/input/new">Input</a>
        <a href="/input/income">Income</a>
        <a href="/history/index">History</a> <!-- collapse the side bar, then go to link, make js link to the link. -->
        <a href="/history/income">Deposits</a> <!-- collapse the side bar, then go to link, make js link to the link. -->
        <a href="/charts">Charts</a>
        <a href="/maps/index">Maps</a>
        <a href="/account_balance/index">Balances</a>
<<<<<<< HEAD

        <a href="/account/index" style="float:right;">Account</a>
        <a href="/bank_sync/add_account" style="float:right;">Bank Sync</a>
=======
        <a href="/bank_sync/index">Bank Sync</a>
>>>>>>> feature/plaid-manual-update
        <a href="/access/logout" style="float:right;">Sign Out</a> <!-- float this to the right -->
    </div>


<!--bootstrap navbar -->
<!--
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Centered nav only <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown08">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
-->

    <%= yield %>
  </body>

</html>
